<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="fas fa-globe"></i>
            <%= @location[:neighborhood] %>
        </h2>
        <h1><%= @location[:name] %></h1>
        <p><%= @location[:description] %></p>
        <p><b> Do people think <%= @location[:name] %> is worth going to?</b></p>
        
        <h3>Detailed Reviews</h3>
        <% for reviews in @reviews %>
            <div class="media">
                <% if reviews[:worth_going_to] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: reviews[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my rsvp -->
                            <% if @current_user && @current_user[:id] == reviews[:user_id] %>
                                (<a href="/review/<%= reviews[:id] %>/edit">edit</a> | <a href="/review/<%= reviews[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= reviews[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/location/<%= @location[:id] %>/review/new" class="btn btn-primary">Review Now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Style?</h3>
        <p><%= @location[:style] %></p>
        <h3>Where?</h3>
        <p><%= @location[:neighborhood] %></p>
        <h3>How many people think <%= @location[:name] %> is worth going to?</h3>
        <p><%= @reviews_count %></p>
    </div>
</div>